.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 70vh;
	color: $grey-light;
	background-image: url('../img/frond-1869757_1280.png');
	background-size: cover;
	text-align: center;
	margin-top: 10vh;
	padding: 0 5%;

	@media (min-width: 800px) {
		justify-content: flex-start;		
		height: 80vh;
		margin-top: 20vh;
		padding-top: 10rem;
	}

	&__title {
		font-size: 2.5rem;
		font-weight: normal;
		margin-bottom: 0;

		@media (min-width: 800px) {
			font-size: 4rem;
		}
	}

	&__desc {
		font-size: 2rem;
		font-weight: normal;
		margin-top: 0;

		@media (min-width: 800px) {
			font-size: 3rem;
		}
	}

	&__link {
		color: $green;
		border-bottom: 5px solid $grey-light;
		font-weight: bold;
		text-decoration: none;

		&:hover {
			opacity: 0.8;
		}
	}
}
