$green: #54be90;
$white: #ffffff;
$grey-light: #ebebeb;
$grey-text: #444444;
$grey-dark: #232323;

$box-shadow: 2px 2px 8px 0px rgba(68, 68, 68, 0.75);
$box-shadow-light: 2px 2px 8px 0px rgba(68, 68, 68, 0.5);
$box-shadow-dark: 2px 2px 8px 0px rgba(68, 68, 68, 1);

$base-font: 'Alegreya Sans', sans-serif;
