body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    width: 50%;
}

h1{
    font-size: 30px;
    color: cornflowerblue;
}

h2{
    font-size: 20px;
}
ol,ul{
    text-align: center;
    margin-left: ;
}

p{
    max-width: 50%;
    margin left: 50%;
}
