* {
    box-sizing: border-box;
}
html,body {
    font-family: sans-serif;
    margin: 24px;

}
a {
    color: #f08800;
}
header {
    width: 70%;
    background-color: #FAEBD7;
    text-align: center;
    padding: 32px;
}
main {
    width: 70%;
    background-color: #F7E0C0;
    text-align: center;
    padding: 32px;
}
ul {
    max-width: 500px;
    margin: 0 auto;
}
footer {
    width: 70%;
    background-color: rgb(241, 232, 219);
    text-align: center;
    padding: 32px;
}