@import url('https://fonts.googleapis.com/css?family=Lato:regular,700');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

body {
  display: flex;

  width: 100%;
  height: 100vh;
  
  justify-content: center;
  align-items: center;
}

.tabs {
  width: 35rem;
}

.tabs__header {
  display: flex;
}

.tabs__link {
  flex: 1;

  padding: 1rem 2rem;

  border-radius: 4px;

  font-weight: bold;

  cursor: pointer;

  transition: 500ms;
}

.tabs__link:hover {
  background-color: #dfdfdf;
}

.tabs__link--active, .tabs__link--active:hover {
  color: white;
  background-color: #666;
}

.tabs__tab {
  display: none;

  padding: 2rem 0rem;

  color: #444;
  
  line-height: 150%;
}

.tabs__tab--active {
  display: block;
}