$background-color: lightgrey;

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
   
}

div{
    
}

.menu{
    display: flex;
    background-color: darkgrey;
    padding: 0.5em;
    
}

.menu nav a{
    text-decoration: none;
    color: white;
}

.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent url("../img/welcome.jpg");
    background-size: cover;
    padding-bottom: 2em;
    
}

h1{
    margin-bottom: 0;
    font-size: 3em;
    color: white;
}
 
.welcome span{
    font-size: 1.5em;
    margin-top: -1em;
    color: lightgrey;
}
 

.plot1{
    background-color: $background-color;
    margin: -2em;
    text-align: center;
    padding-top: 0.2em;
}
.plot{
    display: flex;
    margin: 0.5em 1em;
    background-color: $background-color;
    margin: 0;
    padding: 2em 1.5em;
}

img{
    height: 300px;
    width: 250px;
}
 
h3 p{
    display: flex;
    flex-direction: column;
}

p span{
    font-size: 1.5em;
}

h3{
    font-size: 2em;
}

.characters{
    background-color: $background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 2em;
    background: transparent url("../img/rey-standing.jpg");
    background-size: cover;

}

.characters img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.ratings{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
}

.graph{
    display: flex;
    flex-direction: row;
}
.bar {
    font-size: 2em;
    background-color: rgba(0,0,0,0.25);
}

.source {
    font-size: 1.2em;
    padding: 0.5em;
    align-content: flex-end;
}


.ratings span{
    font-size: 2em;
}






