* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.light{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
  
}

.on{

    width: 150px;
    height: 300px;
    background-image: url('img/bulb-off.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.off{
    background-image: url('img/bulb-on.png');
    width: 150px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
}